<%= simple_form_for(@book, :html => {:class => 'form-horizontal' }) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
    <%= f.input :title %>

    <%= f.input :image %>

    <%= f.input :author %>
    
    <%= f.input :illustrator %>
    
	<%= f.input :publisher %>
    
    <%= f.input :revue %>

    <%= f.input :amazon %>

    <%= f.input :age %><br />
    
    <%= f.input :subject %><br />
    
  <div class="form-actions">
    <%= f.submit %>
  </div>
<% end %>
