

<table class="table table-striped">
	<thead>
	</thead>
	<tbody>
		<% @books.each do |book| %>
		<tr>
			<td>
				<div class="span2">
		  			<%= image_tag (book.image) %>
				</div>
			</td>
			<td>
			<div class="span8">
				<h4><%= link_to book.title, "http://www.amazon.com/exec/obidos/ASIN/#{book.amazon}/planetesme" %></h4> by <%= link_to book.author, "#" %>, illustrated by <%= book.illustrator %>, publisher <%= book.publisher %> <%= book.revue %>
				<%= book.age %><%= book.subject %>
			</div>
			</td>
		
			<td>
				<div class="span1">
					<%= link_to 'Show', book %>
					<%= link_to 'Edit', edit_book_path(book) %>
					<%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?'} %>
				</div>
			</td>
		</tr> 
		<% end %>
	</tbody>
</table>


<%= link_to 'New Book', new_book_path %>
