

<table class="table table-striped">
	<thead>
	</thead>
	<tbody>
		<% @books.each do |book| %>
		<tr>
			<td>
				<div class="span2">
		  			<%= image_tag (book.image) %>
				</div>
			</td>
			<td>
			<div class="span9">
				<h4><%= link_to book.title, "http://www.amazon.com/exec/obidos/ASIN/#{book.amazon}/planetesme" %></h4> by <%= link_to book.author, "books?search=#{book.author}" %>, illustrated by <%= link_to book.illustrator, "books?search=#{book.illustrator}" %>, published by <%= link_to book.publisher, "books?search=#{book.publisher}" %> <%= book.revue %>
				<%= book.age %><%= book.subject %>
			</div>
			</td>
		
			<% if user_signed_in? %>
			<td>
					<div class="span1">
						<%= link_to 'Show', book %>
						<%= link_to 'Edit', edit_book_path(book) %>
						<%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?'} %>
					</div>
			</td>
		<% else %>
		<% end %>
		</tr> 
		<% end %>
	</tbody>
</table>
